In [28]:
!pip install pandas numpy matplotlib seaborn scikit-learn openpyxl folium -q

In [29]:
import pandas as pd

In [30]:
df_energy = pd.read_csv("/Users/luizbeethoven/Documents/CSV's/municipios_output.csv")
df_energy.head()

,Município,Categoria,Alta,Baixa,Autoconsumo,Total
0,Águeda,Agricultura e pescas,5321598.0,623689.0,1.155740e+05,6.060861e+06
1,Águeda,Indústria,168086054.0,10104634.0,2.529663e+07,2.034873e+08
2,Águeda,Não doméstico,14620871.0,18253078.0,3.749043e+06,3.662299e+07
3,Águeda,Edifícios do estado,877225.0,1842194.0,2.279068e+05,2.947326e+06
4,Águeda,Iluminação de vias públicas,0.0,5177973.0,0.000000e+00,5.177973e+06

In [31]:
df_energy = df_energy.rename(columns={
    "Categoria": "Categoria de uso",
    "Alta": "Alta tensão (>1000V)",
    "Baixa": "Baixa tensão (<1000V)"
})

In [32]:
df_energy.head()

,Município,Categoria de uso,Alta tensão (>1000V),Baixa tensão (<1000V),Autoconsumo,Total
0,Águeda,Agricultura e pescas,5321598.0,623689.0,1.155740e+05,6.060861e+06
1,Águeda,Indústria,168086054.0,10104634.0,2.529663e+07,2.034873e+08
2,Águeda,Não doméstico,14620871.0,18253078.0,3.749043e+06,3.662299e+07
3,Águeda,Edifícios do estado,877225.0,1842194.0,2.279068e+05,2.947326e+06
4,Águeda,Iluminação de vias públicas,0.0,5177973.0,0.000000e+00,5.177973e+06

In [33]:
df_energy["Município"] = df_energy["Município"].str.strip()
df_energy["Categoria de uso"] = df_energy["Categoria de uso"].str.strip()

# build a formatted text block per municipality
def build_block(group):
    lines = []
    for _, row in group.iterrows():
        lines.append(
            f"{row['Categoria de uso']}: "
            f"Alta={row['Alta tensão (>1000V)']:,} | "
            f"Baixa={row['Baixa tensão (<1000V)']:,} | "
            f"Auto={row['Autoconsumo']:,} | "
            f"Total={row['Total']:,}"
        )
    return "\n".join(lines)

energy_block = df_energy.groupby("Município").apply(build_block).reset_index()
energy_block.columns = ["Município", "Energia (kWh) por categoria"]

In [34]:
energy_block.head(21)

             Município                        Energia (kWh) por categoria
0             Abrantes  Agricultura e pescas: Alta=1,444,380.0 | Baixa...
1      Aguiar da Beira  Agricultura e pescas: Alta=174,845.0 | Baixa=8...
2            Alandroal  Agricultura e pescas: Alta=617,749.0 | Baixa=9...
3   Albergaria-a-Velha  Agricultura e pescas: Alta=1,017,905.0 | Baixa...
4            Albufeira  Agricultura e pescas: Alta=819,975.0 | Baixa=4...
5             Alcanena  Agricultura e pescas: Alta=2,542,745.0 | Baixa...
6             Alcobaça  Agricultura e pescas: Alta=6,187,709.0 | Baixa...
7            Alcochete  Agricultura e pescas: Alta=6,469,704.0 | Baixa...
8             Alcoutim  Agricultura e pescas: Alta=0.0 | Baixa=80,709....
9       Alcácer do Sal  Agricultura e pescas: Alta=10,006,652.0 | Baix...
10            Alenquer  Agricultura e pescas: Alta=4,126,919.0 | Baixa...
11     Alfândega da Fé  Agricultura e pescas: Alta=105,487.0 | Baixa=9...
12               Alijó  Agricultura e pescas: Alta=1,708,754.0 | Baixa...
13             Aljezur  Agricultura e pescas: Alta=1,021,797.0 | Baixa...
14           Aljustrel  Agricultura e pescas: Alta=6,855,369.0 | Baixa...
15              Almada  Agricultura e pescas: Alta=1,953,608.0 | Baixa...
16             Almeida  Agricultura e pescas: Alta=396,284.0 | Baixa=6...
17            Almeirim  Agricultura e pescas: Alta=3,339,732.0 | Baixa...
18           Almodôvar  Agricultura e pescas: Alta=144,370.0 | Baixa=2...
19            Alpiarça  Agricultura e pescas: Alta=4,392,783.0 | Baixa...
20       Alter do Chão  Agricultura e pescas: Alta=1,194,897.0 | Baixa...